{
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-assign",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "presets": [
    "env",
    "react"
  ]
}
