@import 'core/index.css';

.wrapper {
  border: 1px solid blue;
  margin-bottom: 2rem;

  @media (--lgMin) {
    display: grid;
    grid-gap: var(--gridGap);
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: rem(100);
  }
}

.middle-feature {
  grid-column: span 8;
  margin-bottom: rem(12);

  @media (--mdMin) {
    margin-bottom: rem(50);
  }

  @media (--lgMin) {
    margin-bottom: 0;
  }
}

.grid-wrapper {
  margin-bottom: 2rem;
  width: 100%;

  @media (--mdMin) {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: var(--gridGap);
    grid-template-columns: repeat(2, 1fr);
  }
}

.title {
  @include franklin-headline;
  border-bottom: 5px solid var(--black);
  font-size: rem(18);
  font-weight: 700;
  padding-bottom: rem(5);

  @media (--mdMin) {
    font-size: rem(28);
    margin-bottom: rem(8);
    padding-bottom: rem(10);
  }

  @media (--lgMin) {
    margin-bottom: rem(20);
  }
}

.sidebar {
  grid-column: span 4;
}

.sticky {
  position: sticky;
  top: 0;
}
