@import 'core/index.css';

.wrapper {
  border: 2px solid var(--gray4);
}

.theme-article {
  grid-column: 3 / -3;
  margin-bottom: 2rem;
}

.theme-featured-article {
  margin: 2rem auto;
  max-width: 80%;
}

.inner {
  align-items: center;
  border-bottom: 3px solid var(--teal);
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .theme-article & {
    flex-direction: column;
    padding: 1rem;
  }
}

.main {
  align-items: center;
  display: flex;

  .theme-article & {
    flex-direction: row;

    @media (--smMax) {
      flex-direction: column;
    }
  }

  .theme-featured-article & {
    flex-direction: column;
  }
}

.intro {
  @include byline;
  color: var(--gray2);
}

.info {
  color: var(--gray1);
  margin: 1rem 0.5rem;

  a {
    align-items: center;
    color: var(--black);
    display: flex;
    text-decoration: none;

    &:hover {
      color: var(--black2);
    }

    .theme-article & {
      @media (--smMax) {
        flex-direction: column;
      }
    }

    .theme-featured-article & {
      @media (--smMax) {
        flex-direction: column;
      }
    }
  }
}

.message {
  @include spectral-headline;
  font-size: rem(24);

  @media (--smMax) {
    text-align: center;
  }
}

.image {
  margin-right: 10px;

  span {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 200px;

    .theme-article & {
      height: 80px;
    }
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.meta {
  line-height: 1.4rem;
  text-align: center;

  a {
    color: var(--gray1);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

