@import 'core/index.css';

.wrapper {
  border: 2px solid #CCC;
  grid-column: 1 / -1;
  margin: 2rem auto;
  max-width: 80%;
}

.inner {
  align-items: center;
  border-bottom: 3px solid var(--teal);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.intro {
  @include byline;
  color: var(--gray4);
}

.info {
  background: purple;
}

.meta {
  background: purple;
}

